:root {
  --textColor: #272323;
  --textSmColor: #595959;
  --btnInitialColor: #FFFFFF;
  --bgBtnInitialColor: #3cccde;
  --bgGray: #eeeeee;
  --headingSizeL: 42px;
  --headingSizeM: 38px;
  --headingSizeSm: 30px;
  --headingSizeXsm: 22px; 
  --textFont: 'Nunito Sans';
  --textRegular: 400;
  --textSemiBold: 600;
  --textBold: 700;
  --textSemiBoldItalic: italic;
}

body {
  font-family: var(--textFont, sans-serif);
  color: var(--textColor, #2b2727);
  line-height: 30px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 30px;
  letter-spacing: 0.5px;
  color: var(--textSmColor);
}

p:last-child {
  margin-bottom: 0;
}


a {
  text-decoration: none;
  color: var(--textColor);
}

.about {
  padding: 107px 0;
}

.about .container__inner h2 {
  margin-bottom: 20px;
}

.rounded-image {
  border-radius: 10px;
}


.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.col-5 {
  width: 50%;
}

.logo__image {
  width: 234px;
  height: 89px;
}

.logo__link {
  display: block;
}

.site-header {
  width: 100%;
  padding: 5px 0;
  background-color: var(--btnInitialColor);

}

 
.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.nav__link {
  transition: all 0.3s ease-in 0s;
}

.nav__link:not(:first-child) {
  margin-left: 32px;
}

.btn {
  background-color: var(--bgBtnInitialColor);  
  border-radius: 3px;
  color:var(--btnInitialColor);
  padding: 12px 23px;
  text-decoration: none;
  font-weight: var(--textSemiBold);
  display: inline-block;
}

.btn:hover {
  background-color: #38becf;  
  border-radius: 3px;
  color:var(--btnInitialColor);
  padding: 12px 23px;
  text-decoration: none;
  display: inline-block;
}

.nav__link:hover {
  color: var(--bgBtnInitialColor);
}

.intro {
  height: 570px;
  background: #595959 url('./images/Background1.jpg') no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.intro .container__inner {
  padding-right: 65px;
  padding-bottom: 70px;
}

.section__title {
  color: var(--btnInitialColor);
  font-size: var(--headingSizeL);
  font-weight: var(--textSemiBold);
  margin-top: 0;
  line-height: ;
}


.treatments {
  background-color: var(--bgGray);
  padding: 107px 0;
  color: var(--textSmColor);
}

.header-info {
  text-align: center;
}

.header-info h2 {
  color: var(--textColor);
  font-size: var(--headingSizeSm);
  font-weight: var(--textSemiBold);
}

.grid h3 {
  color: var(--textColor);
  font-size: var(--headingSizeXsm);
  font-weight: var(--textSemiBold);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  place-items: center;
  margin: 50px 0 35px 0;
}


.box {
  width: 370px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
}

.box:hover {
  width: 370px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 50px;
  background-color: var(--btnInitialColor);
  border-radius: 10px;
  transition: all 0.3s ease-in 0s;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034);
}

.box-icons {
  margin-bottom: 30px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.container__inner {
  color: var(--textSmColor);
}

.intro .conntainer__inner {
  padding-right: 65px;
}

.container__inner h2 {
  font-size: var(--headingSizeM);
  font-weight: var(--textSemiBold);
  color: var(--textColor);
}

.container__inner p {
  font-size: 17px;
  font-weight: var(--textRegular);
}

.info-dentist {
  padding: 125px 0 105px 0;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content-image {
  border-radius: 10px;
}

.info-links {
  color: var(--bgBtnInitialColor);
  text-decoration: underline;
}

.container__inner h2 {
  font-size: var(--headingSizeM);
  font-weight: var(--textSemiBold);
  color: var(--textColor);
  margin: 0;
}

.container__inner p {
  font-size: 17px;
  font-weight: var(--textRegular);
}

.container__inner h3 {
  font-size: var(--headingSizeSm);
  font-weight: var(--textSemiBold);
  color: var(--textColor);
  margin-bottom: 15px;
}

.info-dentist-bold {
  font-weight: var(--textSemiBold);
  font-style: var(--textSemiBoldItalic);
  color: var(--textColor);
}

.team {
  background-color: var(--bgGray);
  padding: 110px 0 89px 0;
}

.grid-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: 40px 0;
}

.container-btn {
  text-align: center;

}

.round-headings {
  margin: 15px 0;
}

.header-info h2 {
  font-size: var(--headingSizeM);
  font-weight: var(--textSemiBold);
  color: var(--textColor);
  margin: 0 0 29px 0 ;
}

.contact {
  padding: 100px 0;
  background-color: #e6eaed;
}

.header-info p {
  font-size: 17px;
}

.contact .header-info {
  margin-bottom: 50px;
}

.form-flex {
  width: 770px;
  margin: 0 auto;
  font-weight: var(--textSemiBold);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-area {
  width: 370px;
  height: 50px;
  border: none;
  border-radius: 3px;
  margin: 10px 0 30px 0;
}


textarea {
  border:1px solid #999999;
  width:100%;
  height: 155px;
  margin: 10px 0;
  padding: 3px;
  border: none;
  border-radius: 3px;
}

.textarea {
  padding-bottom: 30px;
}

select {
  color: var(--textSmColor);
  font-weight: var(--textRegular);
  font-size: 14px;
}

.site-footer {
  background-color: #272323;
}

.footer__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 85px 0;
}


.footer__title {
  font-weight: var(--textSemiBold);
  font-size: var(--headingSizeXsm);
  color: var(--btnInitialColor);
}

.footer__text {
  font-weight: var(--textRegular);
  font-size: 15px;
  color: #a9a9a9;
} 

.footer__text p {
  font-weight: var(--textRegular);
  font-size: 15px;
  color: #a9a9a9;
}

.footer__logo {
  width: 100%;
  height: auto;
}

.footer__social {
  display: flex;
}

.footer__links {

  margin: 0 11px 0 0;

}

.footer-link__images {
  width: 40px;
  height: 40px;
  background-color: var(--bgBtnInitialColor);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list {
  list-style: none;
  padding: 0;
  font-size: 15px;
  font-weight: var(--textRegular);
  color: #a9a9a9;
  line-height: 1.5;
}

.footer-list__link {
  text-decoration: none;
  color: var(--bgBtnInitialColor);
}

.copyright {
  background-color: var(--btnInitialColor);
  padding: 40px 0 30px 0;
}

.copyright__text {
  font-weight: var(--textBold);
  font-size: 15px;
  text-align: center;
  color: var(--textColor);
}

.copyright__text__regular {
 font-weight: var(--textRegular);
  display: inline;
}

